
<ul class="nav nav-tabs nav-justified">
    <li><a href="/" >First page</a></li>
    <li><a href="/contact" >Send a message</a></li>
    <li class ="active"><a href="/AboutUs" >About us</a></li>
</ul>
<h1><%= title %></h1>
<a href="/mimimi" >Press here to see something mimimi</a>
