
<ul class="nav nav-tabs nav-justified">
    <li><a href="/" >First page</a></li>
    <li  class ="active"><a href="/contact" >Send a message</a></li>
    <li><a href="/AboutUs" >About us</a></li>
</ul>


<h1><%= title %></h1>
 <form onsubmit="return sendForm();" id='MessageForm'>
    <label for="inputName" class="col-sm-2 control-label">Name:</label>
    <input type="text" class="form-control col-md-3 " id="inputName" placeholder="Enter your name">
    <label for="inputEmai" class="col-sm-2 control-label">Email:</label>
    <input type="email" class="form-control" id="inputEmai" placeholder="Email">
    <label for="inputMessage" class="col-sm-2 control-label">Message:</label>
    <textarea class="form-control" rows="3" placeholder="Message input" id="inputMessage"></textarea>
    <button type="submit" class="btn btn-default" >Отправить</button>
 </form>
<div id="result"></div>

<script type="text/javascript">

function sendForm(){
var name= $('#inputName').val()+"";
var email= $('#inputEmai').val()+"";
var message= $('#inputMessage').val()+"";


if(name.length<5)
    swal("Why your name is so short?", "Write a longer name!", "error")
    else{
        if(message.length<10)
        swal("It's not enough!", "I want more words!", "error")
        else{
                
            $.ajax({
                method:"POST",
                url:'/contact',
                data: {
                    name: name,
                    email: email,
                    message: message
                },
                success: function( response ) {
                    console.log(response); 
                    return false;
                }      
            });
        
            swal("Your message has been sent!", "", "success")
        }
    }
            return false;
}

</script>