

<ul class="nav nav-tabs nav-justified">
    <li class ="active"><a href="/" >First page</a></li>
    <li><a href="/contact" >Send a message</a></li>
    <li><a href="/AboutUs" >About us</a></li>
</ul>
<p class = "center" >   
<img src = './img/Welcome.png'/  >
</p>


