<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="swal/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="swal/dist/sweetalert.css">
</head>

</head>
<body class="col-md-10 col-md-offset-1">
   
   <%- include(page);%>

</body>
</html>