
<ul class="nav nav-tabs nav-justified">
    <li><a href="/" >First page</a></li>
    <li><a href="/contact" >Send a message</a></li>
     <li><a href="/AboutUs" >About us</a></li>
</ul>


    <h1><%= title %></h1>
<% for(var i=0; i<images.length; i++) { %>    
    <div class="photo" data-title="<%= images[i] %>">
    <img src = './images/<%= images[i] %>'/  >
    </div>
<% } %>
