
<h1><%= title %></h1>
 <form onsubmit="return sendForm();" id='MessageForm'>
    <label for="inputName" class="col-sm-2 control-label">Name:</label>
    <input type="text" class="form-control col-md-3 " id="inputName" placeholder="Enter your name">
    <label for="inputEmai" class="col-sm-2 control-label">Subject:</label>
    <input type="text" class="form-control" id="inputSubject" placeholder="Subject">
    <label for="inputMessage" class="col-sm-2 control-label">Message:</label>
    <textarea class="form-control" rows="3" placeholder="Message input" id="inputMessage"></textarea>
    <button type="submit" class="btn btn-default" >Отправить</button>
 </form>
<div id="result"></div>

<script type="text/javascript">

function sendForm(){
var name= $('#inputName').val()+"";
var Subject= $('#inputSubject').val()+"";
var message= $('#inputMessage').val()+"";


if(name.length<5)
    swal("Why your name is so short?", "Write a longer name!", "error")
    else{
        if(message.length<5)
        swal("Try again!", "Your subject is so short...", "error")
        else{
            if (message.length<5)
            swal("It's not enough!", "I want more words!", "error")
            else{  
                $('#inputName').val("");
                $('#inputSubject').val("");
                $('#inputMessage').val("");     
                $.ajax({
                    method:"POST",
                    url:'/contact',
                    data: {
                        name: name,
                        email: email,
                        message: message
                    },
                    success: function( response ) {
                        console.log(response); 
                        
                        return false;
                    }      
                });            
                swal("Your message has been sent!", "", "success" )  ;            
            }
        }
    }
            
            return false;
}

$("#postPage").addClass("active");

</script>