 
     <% users.forEach(function(data){ %>
    <li>
       <h3>Username <small>(Subject)</small></h3>
       <button type="button" id="deleteBtn" class="btn btn-danger"> <span class="glyphicon glyphicon-remove"></span></button>
       
       <p class="post">
        some text   
       </p>
       <p><small>00.00.00 00:00</small></p>
    </li>
    <% } %>